<ion-header>
  <ion-toolbar>
    <ion-title>NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="onGoToNewsSinglePage(article)">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- <ion-img [src]="article.urlToImage"></ion-img>
      {{article.description}} -->
    </ion-card-content>
  </ion-card>
</ion-content>
